.logo {
    background: url('../../../js/assets/images/logo.svg');
    background-repeat: no-repeat;
    background-position: 19px center;
    background-size: 100px 100px;
    margin-left: 50px;
    margin-right: 120px
}
