@import '../utility//mixin';

.search-condition-bar {
  height: 75px;
  background-color: #F0F3F5;
  margin: 32px 15px 30px 15px;
  position: relative;

  &-btn {
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 20px;
    color: #FFFFFF !important;
    width: 140px;
    height: 35px;
    @include themeColor($background:#63C2DE);
    @include fontRoboto();
  }

  .seach-word-container {

    padding: 15px 0 0 20px;

    .seach-word {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 5px;
    }

    .result-word {
        font-size: 11px;
        line-height: 17px;
    }

  }
}
