@import '../utility//mixin';

.order_table {

  &-btn-container {
    display: flex;
    float: right;
    margin-right: 15px;
  }

  &-payment-change-container{
    margin-top: 45px;
    margin-right: -173px;
    display: flex;
    float: right;
  }

  &-memo-container{
    margin-top: 70px;
    margin-right: -173px;
    display: flex;
    float: right;
  }

  &-link-btn{
    margin-left: 16px;
    width: 60px;
    height: 13px;
    @include fontRoboto($color: #231698,$fsize:11px);
  }

  &-btn{
    margin-left: 16px;
    width: 130px;
    height: 32px;
    color: #FFFFFF !important;
    @include themeColor($background:#20A8D8,$border_radius:4px);
    @include fontRoboto();
  }

  &-btn-edit{
    margin-left: 16px;
    width: 155px;
    height: 32px;
    color: #FFFFFF !important;
    @include themeColor($background:#20A8D8,$border_radius:4px);
    @include fontRoboto();
  }

}

.ac-box{
    width: auto;
    margin: 30px auto 5px;
    }

    .ac-box label{
    max-width: 385px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #f05689;
    margin: auto;
    line-height: 50px;
    position: relative;
    display: block;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    transition: all 0.5s;
    }

    .ac-box label:hover{
    background: rgba( 240, 86, 137, 0.55 );
    -webkit-transition: all .3s;
    transition: all .3s;
    }

    .ac-box input{
    display: none;
    }

    // .ac-box label:after{
    // color: #fff;
    // font-family:"FontAwesome";
    // content:" \f055";
    // }

    // .ac-box input:checked ~ label::after {
    // color: #fff;
    // font-family:"FontAwesome";
    // content:" \f055";
    // }

    .ac-box div{
    height: 0px;
    padding: 0px;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
    }

    .ac-box input:checked ~ div{
    height: auto;
    padding: 5px;
    background: #eaeaea;
    opacity: 1;
    }

    .ac-box div p{
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-align: justify;
    }
    .ac-small p{
    margin-bottom: 0px;
    }

    // .customer-list-item tr {
    //     display: none;
    // }

    .test-content{
        background-color: aquamarine;
        height: 500px;
    }
